@use 'variables';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Overpass;
  background-color: variables.$very-dark-blue;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}