@use 'variables';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Overpass;
  background-color: variables.$very-dark-blue;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 30px;
  background-color: variables.$dark-blue;
  margin: 24px;
  padding: 22px 22px 32px 22px;
  max-width: 412px;
}

div.hidden {
  display: none;
}

@media screen and (min-width: variables.$desktop) {
  .card {
    padding: 33px 38px;
  }
}