@use 'variables';

.thank-you {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 28px 42px 28px;

  img {
    width: 162px;
    height: 108px;
    margin-bottom: 22px;
  }

  &__result {
    padding: 10px 15px;
    border-radius: 30px;
    color: variables.$orange;
    background-color: variables.$light-blue;
    margin-bottom: 30px;
    font-size: 14px;
  }

  h1 {
    color: variables.$white;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 22px;
  }

  p {
    color: variables.$light-grey;
    text-align: center;
    font-size: 14px;
    line-height: 1.3rem;
  }
}

@media screen and (min-width: variables.$desktop) {
  .thank-you {
    padding: 40px 38px 50px 38px;

    img {
      margin-bottom: 30px;
    }
  
    &__result {
      margin-bottom: 35px;
    }
  
    h1 {
      font-size: 1.7rem;
    }
  
    p {
      font-size: 15px;
    }
  }
}