/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Overpass;
  background-color: hsl(216deg, 12%, 8%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 30px;
  background-color: #212832;
  margin: 24px;
  padding: 22px 22px 32px 22px;
  max-width: 412px;
}

@media screen and (min-width: 1440px) {
  .card {
    padding: 33px 38px;
  }
}
.rating__icon-star-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #252E37;
  margin-bottom: 25px;
}
.rating h1 {
  color: hsl(0deg, 0%, 100%);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 25px;
}
.rating p {
  color: hsl(217deg, 12%, 54%);
  font-size: 14px;
  line-height: 1.3rem;
  margin-bottom: 25px;
}
.rating__score {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  gap: 17px;
}
.rating__score button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: hsl(216deg, 12%, 54%);
  background-color: #252E37;
  outline: hsl(25deg, 97%, 53%);
  border: none;
  border-radius: 50%;
  min-width: 42px;
  max-width: 52px;
  cursor: pointer;
}
.rating__score button::before {
  content: "";
  padding-top: 100%;
}
.rating__score .selected {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(217deg, 12%, 54%);
}
.rating button[type=submit] {
  border: none;
  border-radius: 30px;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(25deg, 97%, 53%);
  width: 100%;
  height: 45px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2rem;
  opacity: 0.5;
}
.rating button[type=submit]:not(:disabled) {
  cursor: pointer;
  opacity: 1;
}
.rating button[type=submit]:not(:disabled):hover {
  color: hsl(25deg, 97%, 53%);
  background-color: hsl(0deg, 0%, 100%);
}

@media screen and (min-width: 1440px) {
  .rating__icon-star-container {
    height: 47px;
    width: 47px;
    margin-bottom: 37px;
  }
  .rating h1 {
    font-size: 1.7rem;
  }
  .rating p {
    margin-bottom: 32px;
    font-size: 15px;
  }
  .rating__score {
    margin-bottom: 32px;
  }
  .rating__score button:hover {
    color: hsl(0deg, 0%, 100%);
    background-color: hsl(25deg, 97%, 53%);
  }
}
.thank-you {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 28px 42px 28px;
}
.thank-you img {
  width: 162px;
  height: 108px;
  margin-bottom: 22px;
}
.thank-you__result {
  padding: 10px 15px;
  border-radius: 30px;
  color: hsl(25deg, 97%, 53%);
  background-color: #252E37;
  margin-bottom: 30px;
  font-size: 14px;
}
.thank-you h1 {
  color: hsl(0deg, 0%, 100%);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 22px;
}
.thank-you p {
  color: hsl(217deg, 12%, 54%);
  text-align: center;
  font-size: 14px;
  line-height: 1.3rem;
}

@media screen and (min-width: 1440px) {
  .thank-you {
    padding: 40px 38px 50px 38px;
  }
  .thank-you img {
    margin-bottom: 30px;
  }
  .thank-you__result {
    margin-bottom: 35px;
  }
  .thank-you h1 {
    font-size: 1.7rem;
  }
  .thank-you p {
    font-size: 15px;
  }
}