/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Overpass;
  background-color: hsl(216deg, 12%, 8%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating {
  border-radius: 15px;
  background-color: #212832;
  margin: 24px;
  padding: 25px 25px 32px 25px;
}
.rating__icon-star-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #252E37;
  margin-bottom: 25px;
}
.rating h1 {
  color: hsl(0deg, 0%, 100%);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 25px;
}
.rating p {
  color: hsl(217deg, 12%, 54%);
  font-size: 15px;
  line-height: 1rem;
  margin-bottom: 25px;
  line-height: 1.3rem;
}
.rating__score {
  display: flex;
  gap: 17px;
  margin-bottom: 25px;
}
.rating__score button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 0;
  color: hsl(216deg, 12%, 54%);
  background-color: #252E37;
  outline: hsl(25deg, 97%, 53%);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.rating__score button::before {
  content: "";
  padding-top: 100%;
}
.rating__score button:hover {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(25deg, 97%, 53%);
}
.rating button[type=submit] {
  border: none;
  border-radius: 30px;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(25deg, 97%, 53%);
  width: 100%;
  height: 45px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2rem;
  cursor: pointer;
}
.rating button[type=submit]:hover {
  color: hsl(25deg, 97%, 53%);
  background-color: hsl(0deg, 0%, 100%);
}